{
	"useTabs": false,
	"singleQuote": true,
	"quoteProps": "consistent",
	"trailingComma": "none",
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"printWidth": 100,
	"semi": true,
	"bracketSpacing": true,
	"plugins": [
		"prettier-plugin-tailwindcss"
	]
}